@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 214 9% 9%;
    --background-secondary: 216 8% 13%;
    --background-tertiary: 220 6% 20%;
    --background-active: 214 21% 94% 5%;
    --foreground: 0 0% 98%;
    --foreground-secondary: 0 0% 82%;
    --card: var(--background-secondary);
    --card-foreground: var(--foreground-secondary);
    --popover: var(--background-secondary);
    --popover-foreground: var(--foreground-secondary);
    --primary: var(--foreground);
    --primary-foreground: var(--background-tertiary);
    --secondary: var(--background-secondary);
    --secondary-foreground: var(--foreground-secondary);
    --muted: 210 18% 4%;
    --muted-foreground: 0 0% 71;
    --accent: 214 50% 50%;
    --accent-foreground: var(--foreground);
    --destructive: 3 40% 51%;
    --destructive-foreground: var(--foreground);
    --border: 0 0% 18%;
    --input: var(--border);
    --ring: var(--foreground-secondary);
    --radius: 0.75rem;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html, body, #root {
    @apply bg-background text-foreground;

    width: 100%;
    height: 100%;
    margin: 0;

    background-color: hsl(var(--background));
  }
}
